# .github/workflows/agent-transformation-feature-to-issue.yml
#
# This file is part of the example suite for `agentic-lib` see: https://github.com/xn-intenton-z2a/agentic-lib
# This file is licensed under the MIT License. For details, see LICENSE-MIT

name: transformation-04-feature-to-issue
#concurrency: agentic-lib-issue
run-name: "feature >> issue"

on:
  workflow_dispatch:
    inputs:
      featureName:
        description: 'name of the feature to create an issue for (if "", a currently random feature will be selected). e.g. "WEBSITE"'
        required: false
        type: string
        default: ''
  #workflow_run:
  #  workflows:
  #    - agent-library-to-feature
  #  types:
  #    - completed
  # secrets:
  #  PERSONAL_ACCESS_TOKEN:
  #     required: false
  #   CHATGPT_API_SECRET_KEY:
  #     required: true
  workflow_call:
    inputs:
      featureName:
        description: 'name of the feature to create an issue for (if "", a currently random feature will be selected). e.g. "WEBSITE"'
        required: false
        type: string
        default: ''
    secrets:
      PERSONAL_ACCESS_TOKEN:
        required: false
      CHATGPT_API_SECRET_KEY:
        required: true
  schedule:
    - cron: '29 4 */28 * *' # schedule-1
    #- cron: '29 4 */7 * *' # schedule-2
    #- cron: '29 4 * * *' # schedule-3
    #- cron: '29 4 * * *' # schedule-4

env:
  gitUserEmail: 'action@github.com'
  gitUserName: 'GitHub Actions[bot]'
  npmAuthOrganisation: ${{ vars.npmAuthOrganisation || '@xn-intenton-z2a' }}
  s3BucketUrl: ${{ vars.s3BucketUrl || 's3://agentic-lib-telemetry-bucket/events/' }}
  s3WebsiteBucketUrl: ${{ vars.s3WebsiteBucketUrl || 's3://agentic-lib-public-website-stats-bucket/' }}
  iamActionsRoleArn: ${{ vars.iamActionsRoleArn || 'arn:aws:iam::541134664601:role/agentic-lib-github-actions-role' }}
  iamStatsBucketWriterRoleArn: ${{ vars.iamStatsBucketWriterRoleArn || 'arn:aws:iam::541134664601:role/agentic-lib-deployment-role' }}
  iamPublicWebsiteStatsBucketWriterRoleArn: ${{ vars.iamPublicWebsiteStatsBucketWriterRoleArn || 'arn:aws:iam::541134664601:role/agentic-lib-public-website-stats-bucket-writer-role' }}

jobs:

  check-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Check if CHATGPT_API_SECRET_KEY is available
        run: |
          if [ -z "${{ secrets.CHATGPT_API_SECRET_KEY }}" ]; then
            echo "::error::CHATGPT_API_SECRET_KEY is not available. Stopping workflow."
            exit 1
          fi
          echo "CHATGPT_API_SECRET_KEY is available."

  agentic-lib:
    needs:
      - check-secrets
    uses: 'xn-intenton-z2a/agentic-lib/.github/workflows/wfr-agent-config.yml@6.10.2'
    with:
      configPath: ${{ vars.configPath || '.github/agents/agentic-lib.yml' }}
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  # If the prompt is "", a random feature will be selected from the feature library otherwise the supplied feature name will be used.
  select-feature:
    needs:
      - agentic-lib
    runs-on: ubuntu-latest
    outputs:
      featureName: ${{ steps.select.outputs.featureName }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Get latest from remote
        run: |
          git config --local user.email '${{ env.gitUserEmail }}'
          git config --local user.name '${{ env.gitUserName }}'
          git config --local pull.ff     false       # never fast-forward
          git config --local pull.rebase false       # never rebase on pull
          git fetch origin ${{ github.ref_name }}
          git merge origin/${{ github.ref_name }} --no-ff --no-edit --strategy=recursive --strategy-option=ours

      - name: Select feature from ${{ needs.agentic-lib.outputs.featuresPath }}
        id: select
        uses: actions/github-script@v7
        env:
          featureName: ${{ inputs.featureName || '' }}
          featuresPath: ${{ needs.agentic-lib.outputs.featuresPath }}
        with:
          script: |
            const fs = require('fs');
            const path = require('path');
            let featureName = process.env.featureName;
            if (featureName === '') {
              const promptsDir = process.env.featuresPath;
              // Get all items in the directory
              const items = fs.readdirSync(promptsDir);
              // Filter only the files (exclude directories)
              const files = items.filter(item => {
                const filePath = path.join(promptsDir, item);
                return fs.lstatSync(filePath).isFile();
              });

              if (!files || files.length === 0) {
                core.setFailed('No prompt files found in the prompts directory.');
                return;
              } else {
                // Select a random file
                const randomFile = files[Math.floor(Math.random() * files.length)];
                featureName = randomFile.replace('.md', '');
              }
            }

            core.setOutput('featureName', featureName);
            core.info(`featureName: ${featureName}`);

  generate-feature-development-issue:
    needs:
      - agentic-lib
      - select-feature
    permissions:
      contents: write
      issues: write
      id-token: write
    uses: 'xn-intenton-z2a/agentic-lib/.github/workflows/wfr-completion-generate-feature-development-issue.yml@6.10.2'
    with:
      promptFilepath: '.github/agents/agent-feature-issue.md'
      agentConfigContent: ${{ needs.agentic-lib.outputs.agentConfigContent }}
      featureName: ${{ needs.select-feature.outputs.featureName }}
      featuresPath: ${{ needs.agentic-lib.outputs.featuresPath }}
      libraryDocumentsPath: ${{ needs.agentic-lib.outputs.libraryDocumentsPath }}
      featureDevelopmentIssuesWipLimit: '${{ needs.agentic-lib.outputs.featureDevelopmentIssuesWipLimit }}'
      allSourcePaths: ${{ needs.agentic-lib.outputs.allSourcePaths }}
      allTestsPaths: ${{ needs.agentic-lib.outputs.allTestsPaths }}
      documentationPath: ${{ needs.agentic-lib.outputs.documentationPath }}
      readmeFilepath: ${{ needs.agentic-lib.outputs.readmeFilepath }}
      missionFilepath: ${{ needs.agentic-lib.outputs.missionFilepath }}
      contributingFilepath: ${{ needs.agentic-lib.outputs.contributingFilepath }}
      dependenciesFilepath: ${{ needs.agentic-lib.outputs.dependenciesFilepath }}
      intentionFilepath: ${{ needs.agentic-lib.outputs.intentionFilepath }}
      buildScript: ${{ needs.agentic-lib.outputs.buildScript }}
      testScript: ${{ needs.agentic-lib.outputs.testScript }}
      mainScript: ${{ needs.agentic-lib.outputs.mainScript }}
      writeableFilepaths: ${{ needs.agentic-lib.outputs.writeableFilepaths }}
      issueSelectionLabel: 'feature'
      model: ${{ vars.CHATGPT_API_MODEL || 'o4-mini' }}
      npmAuthOrganisation: ${{ vars.npmAuthOrganisation || '@xn-intenton-z2a' }}
    secrets:
      CHATGPT_API_SECRET_KEY: ${{ secrets.CHATGPT_API_SECRET_KEY }}
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  create-issue:
    needs:
      - select-feature
      - generate-feature-development-issue
    permissions:
      issues: write
      id-token: write
    uses: 'xn-intenton-z2a/agentic-lib/.github/workflows/wfr-github-create-issue.yml@6.10.2'
    with:
      issueTitle: ${{ needs.generate-feature-development-issue.outputs.issueTitle }}
      issueBody: ${{ needs.generate-feature-development-issue.outputs.issueDescription }}
      issueLabels: 'feature, automated, ${{ needs.select-feature.outputs.featureLabel }}'

  log-intention-activity:
    needs:
      - agentic-lib
      - generate-feature-development-issue
      - create-issue
    runs-on: ubuntu-latest
    env:
      gitUserEmail: 'action@github.com'
      gitUserName: 'GitHub Actions[bot]'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Get latest from remote
        run: |
          git config --local user.email '${{ env.gitUserEmail }}'
          git config --local user.name '${{ env.gitUserName }}'
          git config --local pull.ff     false       # never fast-forward
          git config --local pull.rebase false       # never rebase on pull
          git fetch origin ${{ github.ref_name }}
          git merge origin/${{ github.ref_name }} --no-ff --no-edit --strategy=recursive --strategy-option=ours

      - name: log-intention-activity
        id: log-intention-activity
        uses: actions/github-script@v7
        env:
          issueNumber: ${{ needs.create-issue.outputs.issueNumber }}
          issueTitle: "${{ needs.generate-feature-development-issue.outputs.issueTitle }}"
          issueBody: "${{ needs.generate-feature-development-issue.outputs.issueDescription }}"
          featureLabel: ${{ needs.select-feature.outputs.featureLabel }}
          intentionFilepath: ${{ needs.agentic-lib.outputs.intentionFilepath }}
          usage: ${{ needs.generate-feature-development-issue.outputs.usage }}
        with:
          script: |
            const owner = context.repo.owner;
            const repo = context.repo.repo;
            const issueNumber = process.env.issueNumber;
            const issueTitle = process.env.issueTitle;
            const issueBody = process.env.issueBody;
            const featureLabel = process.env.featureLabel;
            const issueUrl = `https://github.com/${owner}/${repo}/issues/${issueNumber}`;
            const intentionFilepath = process.env.intentionFilepath;
            const usage = process.env.usage;
            
            const activity = `Generated issue ${issueNumber} for feature "${featureLabel}" with URL ${issueUrl}
            
            title:
            
            ${issueTitle}
            
            And description:
            
            ${issueBody}`;

            core.info(`Activity: ${activity}`);
            core.info(`Seed discussion filepath: ${intentionFilepath}`);

            const fs = require('fs');
            const path = require('path');

            // Create trace file and the parent directory of intentionFilepath if it doesn't exist
            if (!fs.existsSync(path.dirname(intentionFilepath))) {
              fs.mkdirSync(path.dirname(intentionFilepath), { recursive: true });
            }
            const isoDate = new Date().toISOString();
            const activityLogContent = `
            ## Feature to Issue at ${isoDate}
            
            Activity:
            
            ${activity}
            
            LLM API Usage:
            \`\`\`json
            ${usage}
            \`\`\`
            
            ---`;
            fs.appendFileSync(intentionFilepath, activityLogContent);
            core.info(`Activity logged to ${intentionFilepath}`);

      - name: Commit changes
        run: |
          git config --local user.email '${{ env.gitUserEmail }}'
          git config --local user.name '${{ env.gitUserName }}'
          git config --local pull.ff     false       # never fast-forward
          git config --local pull.rebase false       # never rebase on pull
          git add  ${{ needs.agentic-lib.outputs.intentionFilepath }}
          git commit -m "Activity logged, by agent-transformation-feature-to-issue.yml" || echo "No changes to commit"
          git fetch origin ${{ github.ref_name }}
          git merge origin/${{ github.ref_name }} --no-ff --no-edit --strategy=recursive --strategy-option=ours
          git push -v origin ${{ github.ref_name }}
