# .github/workflows/ci-formating.yml
#
# This file is part of the example suite for `agentic-lib` see: https://github.com/xn-intenton-z2a/agentic-lib
# This file is licensed under the MIT License. For details, see LICENSE-MIT

name: ci-formating
concurrency: agentic-lib-main
run-name: "ci formating [${{ github.ref_name }}]"

on:
  workflow_dispatch:
  schedule:
    - cron: '24 3 */28 * *' # schedule-1
    #- cron: '24 3 * * *' # schedule-2
    #- cron: '24 3 * * *' # schedule-3
    #- cron: '24 3 * * *' # schedule-4

env:
  npmAuthOrganisation: ${{ vars.npmAuthOrganisation || '@xn-intenton-z2a' }}
  s3BucketUrl: ${{ vars.s3BucketUrl || 's3://agentic-lib-telemetry-bucket/events/' }}
  s3WebsiteBucketUrl: ${{ vars.s3WebsiteBucketUrl || 's3://agentic-lib-public-website-stats-bucket/' }}
  iamActionsRoleArn: ${{ vars.iamActionsRoleArn || 'arn:aws:iam::541134664601:role/agentic-lib-github-actions-role' }}
  iamStatsBucketWriterRoleArn: ${{ vars.iamStatsBucketWriterRoleArn || 'arn:aws:iam::541134664601:role/agentic-lib-deployment-role' }}
  iamPublicWebsiteStatsBucketWriterRoleArn: ${{ vars.iamPublicWebsiteStatsBucketWriterRoleArn || 'arn:aws:iam::541134664601:role/agentic-lib-public-website-stats-bucket-writer-role' }}

jobs:
  agentic-lib:
    uses: 'xn-intenton-z2a/agentic-lib/.github/workflows/wfr-agent-config.yml@6.10.2'
    with:
      configPath: ${{ vars.configPath || '.github/agents/agentic-lib.yml' }}
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  check-branch:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      branchPrefix: 'agentic-lib-'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}
      - name: Ensure there isn't already a branch for this prefix
        shell: bash
        run: |
          git fetch origin
          if git branch -r | grep -q 'origin/${{ env.branchPrefix }}'; then
            echo "A branch with the prefix '${{ env.branchPrefix }}' already exists."
            exit 1
          else
            echo "No existing branch with the prefix found."
          fi

  extract-paths:
    needs:
      - agentic-lib
    runs-on: ubuntu-latest
    steps:
      - name: Extract paths
        id: extract-paths
        uses: actions/github-script@v7
        env:
          allTestsPath: ${{ needs.agentic-lib.outputs.allTestsPath }}
          targetTestsPath: ${{ needs.agentic-lib.outputs.targetTestsPath }}
          allSourcePaths: ${{ needs.agentic-lib.outputs.allSourcePaths }}
          targetSourcePath: ${{ needs.agentic-lib.outputs.targetSourcePath }}
        with:
          script: |
            const allTestsPath = process.env.allTestsPath.split(';');
            const targetTestsPath = process.env.targetTestsPath;
            const allSourcePaths = process.env.allSourcePaths.split(';');
            const targetSourcePath = process.env.targetSourcePath;

            const allPaths = {
              ...allTestsPath,
              targetTestsPath,
              ...allSourcePaths,
              targetSourcePath
            }.join(' ');

            core.setOutput("allPaths", allPaths);
            core.info(`allPaths: allPaths}`);
    outputs:
      allPaths: ${{ steps.extract-paths.outputs.allPaths }}

  formatting:
    needs:
      - check-branch
      - agentic-lib
      - extract-paths
    permissions:
      contents: write
      packages: write
      id-token: write
    uses: 'xn-intenton-z2a/agentic-lib/.github/workflows/wfr-npm-run-script-and-commit-to-branch.yml@6.10.2'
    with:
      script: 'npm run formatting-fix -- ${{ needs.extract-paths.outputs.allPaths }} ; npm run linting-fix ${{ needs.extract-paths.outputs.allPaths }}'
      sarifScript: ''
      testScript: ${{ needs.agentic-lib.outputs.testScript }}
      branch: 'agentic-lib-formatting'
      npmAuthOrganisation: "${{ vars.npmAuthOrganisation || '@xn-intenton-z2a' }}"
      gitUserEmail: 'action@github.com'
      gitUserName: 'GitHub Actions[bot]'
      gitCommitMessage: 'npm run formatting-fix -- ${{ needs.extract-paths.outputs.allPaths }} ; npm run linting-fix ${{ needs.extract-paths.outputs.allPaths }}'
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  create-pr:
    needs:
      - formatting
    if: needs.formatting.outputs.updatedFiles == 'true'
    permissions:
      contents: write
      packages: write
      issues: write
      pull-requests: write
      checks: write
      id-token: write
    uses: 'xn-intenton-z2a/agentic-lib/.github/workflows/wfr-github-create-pr.yml@6.10.2'
    with:
      branch: 'agentic-lib-formatting'
      baseBranch: 'main'
      gitCommitMessage: 'chore: formatting fixes'
      label: 'automerge'

  automerge-pr:
    needs:
      - create-pr
      - formatting
    if: needs.formatting.outputs.updatedFiles == 'true'
    permissions:
      contents: write
      pull-requests: write
      checks: write
      issues: write
      id-token: write
      pages: write
    uses: 'xn-intenton-z2a/agentic-lib/.github/workflows/ci-automerge.yml@6.10.2'
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      CHATGPT_API_SECRET_KEY: ${{ secrets.CHATGPT_API_SECRET_KEY }}
